<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Taj Automation Suite">

    <!-- Listener for Extent Reports + Screenshot on Failure -->
    <listeners>
        <listener class-name="com.tajhotels.automation.listeners.TestListener"/>
    </listeners>

    <test name="Smoke Suite">
   <!--      <packages>
            <package name="com.tajhotels.automation.tests"/>
        </packages> -->

        <!-- Exclude intentionally failing demo test -->
        <classes>
            <class name="com.tajhotels.automation.tests.BaseTestDemo"></class>
        </classes>
    </test>

</suite>