<!--DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd"-->

<suite name="Taj Automation Suite"
       verbose="1"
       parallel="false"
       configfailurepolicy="continue"
       disable-default-listeners="true">

    <!-- Custom Extent Listener -->
    <listeners>
        <listener class-name="com.tajhotels.automation.listeners.TestListener"/>
    </listeners>

    <test name="Home Page Smoke Test">
        <classes>
            <class name="com.tajhotels.automation.tests.HomeTest"/>
        </classes>
    </test>

</suite>