<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Taj Automation Suite"
       verbose="1"
       configfailurepolicy="continue">

    <!-- Disable default TestNG reports -->
    <listeners>
        <listener class-name="com.tajhotels.automation.listeners.TestListener"/>
    </listeners>

  <test name="Smoke Suite">
  <!--   <packages>
      <package name="com.tajhotels.automation.tests">
        <exclude name="com.tajhotels.automation.tests.FailingDemoTest"/>
      </package>
    </packages>
     -->
    <classes>
            <class name="com.tajhotels.automation.tests.BaseTestDemo"/>
        </classes>
  </test>

</suite>